body{
    /*background-color: black;*/
}
.bclrcontainer{
    position: absolute;
right: 10px;
    z-index: 4;
}
.bclr{
    height: 50px;
    width: 50px;
    margin: auto;
    /*border: none;*/
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}
.start{
    animation:rubberBand 2s infinite;
    /*color: red;*/
    font-size: 80px;
    align-content: center;
    position: absolute;
    top: 30%;
    left: 45%;
    border-radius: 100%;
    height: 200px;
    width: 200px;
   background: url("../assets/start.png") whitesmoke no-repeat center;
    background-size: 79%;

}

.startmodal{
    /*height: 100%;*/
    /*width: 100%;*/
    background: transparent;
   /*remove this before final*/
    /*display:none;*/
    position: absolute;
top: 50%;
    left:50%;
    margin-left: -80px;
    margin-top: -120px;

z-index: 2;
}
.gamecontainer{
    display:none;
    /*height: 100%;*/
    /*width:50%;*/
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left:50%;
    margin-left: -120px;
    margin-top: -200px;
    z-index: 1;
}
.option{
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    /*background-color: lightskyblue;*/
    position: relative;
    left: auto;
}
.rock{
    background:lightblue url("../assets/rock2.png") no-repeat center;
    background-size: 70%;
}
.paper{
    background:lightblue url("../assets/paper.png") no-repeat center;
    background-size: 70%;
}
.scissor{
    background: lightblue url("../assets/kids-scissors-clipart-scissor.svg") no-repeat center;
    background-size: 70%;
}
.text{
    font-weight: bold;
    font-size: xx-large;
    font-family: "Chiller","Bauhaus 93","Times New Roman";
}
.subtitle{
}
.title{
}
.timer{
    font-size:210% ;
    display: inline;
}
.counter {
    font-size: 300%;
    display: inline;
}
.results{
   /*add this before start*/
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    /*background: red;*/
    /*background: url("../assets/bolt.svg") center no-repeat;*/
    background-size: 50%;
z-index: 0;
}
.playfield{
    position: absolute;
    display: inline-block;
    height: 40%;
    width: 49%;
    /*margin: 0px;*/
    top:50%;
    margin-top:-120px;
}
.player{
    left: 0%;
    margin-left: 0px;
    /*animation: jello 1s infinite;*/
}
.computer{
    left: 50%;
    /*animation: jello 1s infinite;*/
}
.foul{
    display: none;
}
.resultsdeclare{
        animation: tada 1s infinite;
    position: absolute;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -100px;
    font-size: 100px;
}
.textbox{

}
.buttonclass{
    background-color: blue;
    border-color: white;
    color: white;
    border-radius:10% ;
    height: 30px;
    width: 120px;
}
/*.buttonclass2{*/
    /*color: #fff;*/
    /*background-color: #007bff;*/
    /*border-color: #007bff;*/
    /*display: inline-block;*/
    /*font-weight: 400;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*vertical-align: middle;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*border: 1px solid transparent;*/
    /*padding: .375rem .75rem;*/
    /*font-size: 1rem;*/
    /*line-height: 1.5;*/
    /*border-radius: .25rem;*/
    /*transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
/*}*/
/*.buttonclass3{*/
    /*color: #ffc107;*/
    /*background-color: transparent;*/
    /*background-image: none;*/
    /*border-color: #ffc107;*/
    /*display: inline-block;*/
    /*font-weight: 400;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*vertical-align: middle;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*border: 1px solid transparent;*/
    /*padding: .375rem .75rem;*/
    /*font-size: 1rem;*/
    /*line-height: 1.5;*/
    /*border-radius: .25rem;*/
    /*transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/

/*}*/